<section id="about" class="section wb">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2>Who is <i>New Horizon</i>?</h2>
      <p style="text-align: center">
        We thank our Lord and Savior, Jesus Christ, for salvation and for giving us the words and music for our songs. For without Him, this would not be possible.
      </p>
      <p style="margin-top: 2em; text-align: center">
        "For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life."
        John 3:16
      </p>
    </div><!-- end title -->

    <div class="row">
      {% include about/joe-howard-about.html %}
      {% include about/joey-morgan-about.html %}
      {% include about/dennis-zeboskey-about.html %}
      {% include about/gerald-erskine-about.html %}
    </div><!-- end row -->

  </div><!-- end container -->
</section><!-- end section -->
