<section id="about" class="section wb">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2>Who is <i>New Horizon</i>?</h2>
    </div><!-- end title -->

    <div class="row">

      {% include about/joe-howard-about.html %}
      {% include about/joey-morgan-about.html %}
      {% include about/dennis-zeboskey-about.html %}
      {% include about/gerald-erskine-about.html %}

    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
