<section id="albums" class="section wb">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2><i>Albums</i></h2>
    </div><!-- end title -->

    <div class="row album-wrapper">

      {% include album/quittin-time-album.html %}
      {% include album/dusty-roads-album.html %}
      {% include album/pictures-from-yesterday-album.html %}
      {% include album/the-garden-gate-album.html %}

    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
