<section id="follow" class="section wb">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2>Follow <i>New Horizon</i></h2>
      <p>
        Follow New Horizon on Facebook and stay up to date!
      </p>
      <p style="margin-top: 30px">
        <a href="https://www.facebook.com/profile.php?id=100063441085134&sk=about" title="" class="btn btn-primary" target="_blank">
          <span class="text-center">
            Follow on Facebook</span></a>
      </p>
    </div><!-- end title -->
  </div><!-- end container -->
</section><!-- end section -->
