<section class="footer section lb nobpad">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>
            &copy; 2024 New Horizon. All rights reserved.
          </p>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100063441085134">
              Facebook</a>
            </li>
          </ul>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end copyrights -->
</section><!-- end section -->
