<header class="header first-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <a class="navbar-brand" href="index.html">
        New Horizon <i class="hidden-sm hidden-xs">Gospel</i></a>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a data-scroll href="#home">Home</a></li>
          <li><a data-scroll href="#about">About</a></li>
          <li><a data-scroll href="#news">News</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-scroll href="#albums">Albums</a></li>
          <li><a data-scroll href="#media">Media</a></li>
          <li><a data-scroll href="#follow">Follow</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div><!-- end container -->
</header><!-- end header -->
