<section id="media" class="section">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2>Multi<i>Media</i></h2>
      <p>
        Our latest videos and songs on our official
        <a href="#">Youtube channel</a>.
        Don't forget to subscribe!
      </p>
    </div><!-- end title -->

    <div class="row video-wrapper">

      {% include media/let-your-tongue-be-the-pen-media.html %}
      {% include media/get-behind-me-satan-media.html %}

    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
