<section id="news" class="section">
  <div class="container">
    <div class="section-title text-center clearfix">
      <h2>Latest <i>News</i></h2>
      <p>Read about the latest New Horizon news and events here!</p>
    </div><!-- end title -->

    <div class="owl-carousel owl-theme hover06">

      {% include news/27-Jan-2024.html %}
      {% include news/7-Oct-2023.html %}
      {% include news/8-Sept-2023.html %}
      {% include news/21-May-2023.html %}
      {% include news/6-May-2023.html %}
      {% include news/22-April-2023.html %}

    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end section -->
