<!doctype html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>{{site.title}}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 

    <!-- Audio Player -->
    <link rel="stylesheet" href="/css/bar-ui.css" />

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body>
    <!-- navbar-->
    {% include header.html %}
    {{content}}
    {% include footer.html %}

    <!-- jQuery Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/custom.js"></script>

    <!-- Audio Player -->
    <script type="application/javascript" src="js/soundmanager2.js"></script>
    <script type="application/javascript" src="js/bar-ui.js"></script>
  </body>
</html>
