<div class="item-carousel">
  <div class="blog-box">
    <figure class="media-element">
      <img src="img/events/mclean-chapel.png" alt="" class="img-responsive">
    </figure><!-- end media -->
    <div class="blog-title">
      <h3>Concert at McLean Chapel</h3>
      <p>
        Had a wonderful time with the folks at McLean Chapel last night... Appreciate you guys so much.
      </p>
      <small class="blog-date">May 21 2023</small>
    </div><!-- end blog-title -->
  </div><!-- end blog-box -->
</div><!-- end col -->
