<div class="item-carousel">
  <div class="blog-box">
    <figure class="media-element">
      <img src="img/events/singing-for-seniors-4-22-2023.png" alt="" class="img-responsive">
    </figure><!-- end media -->
    <div class="blog-title">
      <h3>Singing for Seniors</h3>
      <p>
        This event helps the Summers County Council on Aging to continue to provide much needed resources for the senior citizens in Summers County.
      </p>
      <small class="blog-date">April 22 2023</small>
    </div><!-- end blog-title -->
  </div><!-- end blog-box -->
</div><!-- end col -->
