<div class="item-carousel">
  <div class="blog-box">
    <figure class="media-element">
      <img src="/img/events/dennis-blackburn-gospel-sing.png" alt="" class="img-responsive">
    </figure><!-- end media -->
    <div class="blog-title">
      <h3>Fundraiser for Dennis Blackburn</h3>
      <p>
        Come out for some music and great food for a great cause.
      </p>
      <small class="blog-date">Sept 8 2023</small>
    </div><!-- end blog-title -->
  </div><!-- end blog-box -->
</div><!-- end col -->
